body {
     background:url(../imagenes/logo\ fondo.jpg);
      background-size: cover;
  }
  .contLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}

.loginpage .logo {
    width: 10px; /* Ajusta el tamaño del logo */
    height: 10px;
    margin-bottom: 20px;
    height: 100vh;
}

.loginpage .title {
    font-size: 24px;
    color: white;
    font-weight: bold;
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(7, 90, 245, 0.2);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.login-form input {
    margin: 10px 0;
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 5px;
}

.login-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

